/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
     background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
     background-size: cover;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;

}

#relaxr-header {
  flex-grow: 1;
}


h1 {
  color: white;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

h2 {
  color: white;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.button {
    border-radius: 5px;
    padding: 16px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    min-height: 40px;
}

#get-it-now {
  background-color: yellow;
  color: #033048;
  font-weight: 600;
  font-size: 14px;
}

h3 {
  color: #033048;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

#benefits {
    background-color: #f0efef;
    padding: 50px 40px;
}

ul {
    list-style: initial;
}

#testimonial {
  background: url(../images/testimonial_bg.jpg) no-repeat center top rgb(134,141,157);
  background-size: cover;
  color: white;
  font-style: italic;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  padding-top: 30px;
  padding-bottom: 30px;
}

#sign-up {
    background-color: yellow;
    width: 100%;
    display: flex;
    padding: 60px 0px;
}

#invisible-box-1 {
  flex-grow: 1;
  min-width: 200px;
}

#sign-up-now {
    background-color: #033048;
    color: white;
    font-weight: 600;
    font-size: 22px;
    margin: auto;
}

#invisible-box-3 {
  flex-grow: 1;
  min-width: 200px;
}

/*  Footer styles  */

footer {
    background-color: #121212;
    color: white;
    text-align: center;
    padding: 40px 0;
}

.social-media img {
    height: 20px;
    margin: 50px 30px;
}

#relaxr-footer {
  color: yellow;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.social-media {


}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/




